:root {
  background-color: var(--joy-palette-primary-100);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-reduced-motion: reduce) {
  .animation {
    animation: none;
  }
}