:root {
  background-color: var(--joy-palette-primary-100);
  color: var(--joy-palette-text-primary);
}

body {
  margin: 0;
  place-items: center;
}

@media (prefers-reduced-motion: reduce) {
  .animation {
    animation: none;
  }
}