#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  color: var(--joy-palette-text-primary);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  width: 200px;
  height: 200px;
}

.logo {
  animation: ease pulse 2s infinite;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.connexion-button {
  color: var(--joy-palette-text-primary) !important;
}

.connexion-button:hover {
  background-color: var(--joy-palette-primary-600) !important;
}

@keyframes pulse {
  0% {
    width: 90%;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 90%;
  }
}