.likes-container {
  width: 100dvw;
}

.likes-title-page {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0 10px 0;
}

@media screen and (min-width: 768px) {
  .likes-title-page {
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .select-likes {
    width: 160px;
  }
}

.likes-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit,
      minmax(150px, 1fr));
  gap: 12px;
  place-items: center;
}

@media screen and (min-width: 320px) {
  .likes-cards {
    grid-template-columns: repeat(auto-fit,
        minmax(155px, 1fr));
    gap: 8px 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .likes-cards {
    grid-template-columns: repeat(auto-fit,
        minmax(170px, 1fr));
  }
}

@media screen and (min-width: 1024px) {
  .likes-cards {
    grid-template-columns: repeat(auto-fit,
        minmax(180px, 1fr));
  }
}

.liked-cats-count {
  color: var(--color-orange);
}

.select-likes {
  height: 50%;
  width: 30%;
  color: var(--joy-palette-text-secondary) !important;
} 