.likes-container {
  width: 100dvw;
}

.likes-title-page {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0 10px 0;
}

@media screen and (min-width: 768px) {
  .likes-title-page {
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .select-likes {
    width: 160px;
  }
}

.liked-cats-count {
  color: var(--color-orange);
}

.select-likes {
  height: 50%;
  width: 30%;
  color: var(--joy-palette-text-secondary) !important;
} 